/**
 * Mark user interface stylesheet by @holmar
 * https://github.com/holmar/mark
 * Browser support: IE9+
 */


/* * * * * * * *
 * BASE STYLES *
 * * * * * * * */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
    font-size: 100%;
}

.full-size,
.dragover:after {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

.full-height {
    height: 100%;
}

.scroll {
    overflow-x: hidden;
    overflow-y: auto;
}

.no-scroll {
    overflow: hidden;
}

.no-bullets {
    list-style: none;
}

.vcenter {
    display: table;
    table-layout: fixed;
}

.vcenter__element {
    display: table-cell;
    vertical-align: middle;
}

/* opacity needs to be set before transitions are set, otherwise the elements will fade out on load */
.fade-in {
    visibility: hidden;
    -webkit-transition: visibility 0ms linear 200ms, opacity 200ms;
            transition: visibility 0ms linear 200ms, opacity 200ms;
}

.fade-in--show {
    opacity: 1;
    visibility: visible;
    -webkit-transition-delay: 0ms, 200ms;
            transition-delay: 0ms, 200ms;
}

button {
    height: 2.125rem;
    padding: 0 22px;
    color: #fff;
    background: none;
    border: 2px solid #dedede;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    -webkit-transition: background-color 200ms;
            transition: background-color 200ms;
}

.button--active,
button:hover {
    color: #1f1d1b;
    background-color: #fff;
    border-color: #fff;
}


/* * * * * * * *
 * TYPOGRAPHY  *
 * * * * * * * */

.font-helvetica,
button {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
}

.font-caps,
button {
    font-size: 0.75rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.font-size-small {
    font-size: 0.875rem;
}

.font-size-medium {
    font-size: 0.9375rem;
}

.font-size-regular {
    font-size: 1rem;
}

.font-size-large {
    font-size: 1.875rem;
    line-height: 1.6;
}

.font-underline {
    padding-bottom: 2px;
    border-bottom: 1px solid #dedede;
    cursor: pointer;
}


/* * * * * * * * * * *
 * MARK BASIC STYLES *
 * * * * * * * * * * */

.mark {
    padding: 20px;
    background-color: #fff;
    cursor: none;
}

.mouse-moved .mark {
    cursor: text;
}

.editing {
    display: block;
    width: 100%;
    padding: 3px 9px;
    border: 1px dashed #1f1d1b;
    margin-bottom: 1em;
    background-color: transparent;
    font: 0.9375rem/1.4 "Source Code Pro", monospace;
    overflow: hidden;
    resize: none;
    outline: none;
}

.dragover:after {
    content: "";
    background: rgba(31, 29, 27, .95) url("../img/drag-drop.gif") center center;
    z-index: 9;
}


/* * * * * * * * *
 * FRAME & MENUS *
 * * * * * * * * */

.frame {
    position: relative;
    left: 0;
    -webkit-transition: left 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
            transition: left 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.frame--show-file {
    left: 250px;
}

.frame--show-themes {
    left: -250px;
}

/* menus have an additional 25px width so they are already hovered when the user is at the edge of the screen */
.menu {
    width: 275px;
    color: #dedede;
    position: absolute;
    top: 0;
}

.menu--file {
    left: -250px;
}

.menu--themes {
    right: -250px;
}

.menu__wrapper {
    background-color: #2e2a28;
}

/* non-clickable (width: 0) inset shadow */
.menu__wrapper:after {
    content: "";
    display: block;
    position: absolute;
    top: 0; bottom: 0;
    box-shadow: 0 0 35px 10px rgba(0, 0, 0, .33);
    z-index: 1;
}

.menu--file .menu__wrapper {
    border-right: 1px solid #000;
    right: 25px;
}

.menu--file .menu__wrapper:after {
    right: 0;
}

.menu--themes .menu__wrapper {
    border-left: 1px solid #000;
    left: 25px;
}

.menu--themes .menu__wrapper:after {
    left: 0;
}

.menu__list {
    bottom: 52px;
    z-index: 1;
    -webkit-transition: left 300ms;
            transition: left 300ms;
}

.menu__list--themes {
    top: 52px;
}

.menu__list--display-sublist {
    left: -250px;
}

.menu__list ul {
    width: 250px;
    position: absolute;
    top: 0; left: 250px;
}

.menu__list li,
.menu__element {
    height: 52px;
    width: 250px;
    line-height: 52px;
    padding: 0 20px;
}

.menu__list li {
    border-bottom: 1px solid #090808;
    box-shadow: 0 1px 0 #474442;
    position: relative;
    cursor: pointer;
}

.menu__list li:hover {
    background-image: url("../img/gradient.png");
}

.menu__list--themes li {
    text-indent: -250px;
    background-size: 250px 104px;
}

.menu__list--themes li:hover,
.menu__list--themes .active-theme {
    background-position: 0 -52px;
}

/* display an icon for online-only elements when the client is offline */
.online-only:after {
    content: "";
    display: block;
    width: 19px;
    height: 16px;
    background-image: url("../img/network_19x16.svg");
    position: absolute;
    top: 18px; right: 20px;
    visibility: hidden;
}

.offline .online-only {
    position: relative;
    color: #5f5959;
}

.offline .online-only:after {
    visibility: visible;
}


/* hide all but the first and active theme when the client is offline */
.offline .menu__list--themes li:not(:first-child):not(.active-theme) {
    display: none;
}

.touch .shortcut,
.offline .online-only .shortcut {
    display: none;
}

.shortcut {
    color: #7c7777;
    float: right;
    position: relative;
    z-index: -1;
}

.os-other .shortcut:after {
    content: attr(data-os-other);
}

.os-mac .shortcut:after {
    content: attr(data-os-mac);
}

.menu__list input[type=file] {
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

body:not(.offline) .menu__list .menu__sublist {
    position: static;
}

.menu__sublist ul {
    visibility: hidden;
    -webkit-transition: visibility 0ms linear 300ms;
            transition: visibility 0ms linear 300ms;
}

.menu__sublist--display ul {
    visibility: visible;
    -webkit-transition-delay: 0ms;
            transition-delay: 0ms;
}

.menu__back {
    color: #7c7777;
}

.menu__back:before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 12px;
    background-image: url("../img/arrow_8x12.svg");
    margin-right: 12px;
}

.menu__info {
    position: absolute;
    bottom: 0;
    box-shadow: 0 0 20px 10px #2e2a28;
    z-index: 1;
}

.menu__icon {
    height: 20px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    opacity: 0;
    -webkit-transition: opacity 500ms;
            transition: opacity 500ms;
}

.menu__icon:after {
    content: "";
    display: block;
    width: 6px;
    height: 13px;
    background: url("../img/arrows.png") 0 -6px;
    position: absolute;
    top: 3px;
}

.mouse-moved .menu__icon,
.frame--show-file .menu__icon,
.frame--show-themes .menu__icon {
    opacity: 1;
}

.menu__icon--file {
    width: 15px;
    left: 265px;
}

.menu__icon--file:after {
    left: -16px;
}

.menu__icon--themes {
    width: 28px;
    right: 265px;
}

.menu__icon--themes:after {
    background-position: -7px -6px;
    right: -16px;
}

.ui-light .menu__icon svg {
    fill: #fff;
}

.menu__filter {
    color: #7c7777;
    background: #1f1d1b url("../img/search_13x13.svg") 217px center no-repeat;
    background-size: 13px 13px;
    padding-right: 42px;
    border: none;
    border-radius: 0;
    box-shadow: 0 1px 0 #474442;
    outline: none;
    -webkit-appearance: none;
}

.menu__filter::-webkit-search-decoration,
.menu__filter::-webkit-search-cancel-button {
  display: none;
}

.menu__filter::-webkit-input-placeholder {
   color: #7c7777;
}

.menu__filter:-ms-input-placeholder {
   color: #7c7777;
}


/* * * * * * * * * * * * * * *
 * OVERLAYS (MODAL & NOTICE) *
 * * * * * * * * * * * * * * */

.overlay {
    width: 100%;
    color: #fff;
    background-color: rgba(31, 29, 27, .95);
    text-align: center;
    position: absolute;
    top: 0; left: 0;
    z-index: 8;
}

.overlay--modal {
    padding: 0 20px;
}

.overlay--notice {
    padding: 0 10px;
    cursor: pointer;
}

.overlay--notice > div {
    padding: 0 20px;
    background: url("../img/close_10x10.svg") right center no-repeat;
    background-size: 10px 10px;
}

.overlay__text,
.overlay__controls {
    max-width: 700px;
    margin: 0 auto;
}

.overlay--modal .overlay__text,
.overlay--modal .overlay__controls {
    position: relative;
    top: -100px;
    -webkit-transition: top 500ms;
            transition: top 500ms;
}

.fade-in--show .overlay__text,
.fade-in--show .overlay__controls {
    top: 0;
}

.overlay--notice .overlay__text {
    padding: 8px 0;
}

.overlay__text label,
.overlay__text input,
.overlay__text textarea {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    border: none;
    outline: none;
}

.overlay__text label {
    text-align: left;
    padding: 0 20px;
    margin-bottom: 4px;
}

.overlay__text input ~ label {
    margin-top: 30px;
}

.overlay__text input {
    height: 2.125rem;
    padding: 0 20px;
    border-radius: 50px;
}

.overlay__text textarea {
    height: 110px;
    padding: 20px;
    border-radius: 19px;
    resize: none;
}

.overlay__text .validation-error {
    background-color: #ff3a3a;
    color: #fff;
    position: relative;
    -webkit-animation: wobble 500ms;
            animation: wobble 500ms;
}

@-webkit-keyframes wobble {
    0%   { left: 0;     }
    25%  { left: -10px; }
    50%  { left: 8px;   }
    75%  { left: -5px;  }
    100% { left: 0;     }
}

@keyframes wobble {
    0%   { left: 0;     }
    25%  { left: -10px; }
    50%  { left: 8px;   }
    75%  { left: -5px;  }
    100% { left: 0;     }
}

/* controls add a small margin-bottom to put the overlay in a visual center */
.overlay__controls {
    margin-top: 65px;
    margin-bottom: 40px;
}

.overlay__controls button {
    margin: 0 12px 20px;
}

.overlay__controls button:last-child {
    margin-bottom: 0;
}


/* * * * * *
 * TOOLTIP *
 * * * * * */

/* the tooltip is positioned via javascript */
.tooltip {
    min-width: 150px;
    line-height: 1.75;
    color: #dedede;
    background-color: #2e2a28;
    margin-top: 25px;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .4);
    position: absolute;
    -webkit-transition: margin-top 500ms;
            transition: margin-top 500ms;
}

.tooltip:before {
    content: "";
    display: block;
    width: 13px;
    height: 6px;
    background: url("../img/arrows.png") 0 -19px;
    position: absolute;
    top: -6px; left: 50%;
    margin-left: -7px;
}

.tooltip--top:before {
    background-position: 0 0;
    top: auto; bottom: -6px;
}

/* non-clickable (height: 0) inset shadow */
.tooltip:after {
    content: "";
    display: block;
    width: 100%;
    height: 15px;
    position: absolute;
    bottom: 0;
    box-shadow: inset 0 -15px 15px -8px #2e2a28;
}

.fade-in--show .tooltip {
    margin-top: 10px;
}

.tooltip__container {
    max-height: 180px;
    padding: 6px 0;
}

.tooltip__category {
    display: block;
    margin: 22px 15px 5px;
    border-bottom: 1px solid #dedede;
}

.tooltip__category:first-child {
    margin-top: 0;
}

.tooltip__category:only-of-type {
    display: none;
}

.tooltip li {
    padding: 0 14px;
    cursor: pointer;
}

.tooltip li:hover {
    background: url("../img/gradient.png") center center no-repeat;
    background-size: 150%;
}


/* * * * * * * * *
 * MOBILE STYLES *
 * * * * * * * * */

@media only screen and (max-width: 700px) {
    .font-size-large {
        font-size: 1.6rem;
    }
    
    .overlay__controls {
        margin-top: 40px;
        margin-bottom: 0;
    }
}


/* * * * * * * * *
 * RETINA STYLES *
 * * * * * * * * */

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    body:not(.offline) .menu__icon:after,
    body:not(.offline) .tooltip:after {
        background-image: url("../img/arrows@2x.png");
        background-size: 13px 25px;
    }
} 
